[submodule ".local/opt/mpd-configure"]
	path = .local/opt/mpd-configure
	url = https://gitlab.com/sonida/mpd-configure
[submodule ".local/opt/movetocorner"]
	path = .local/opt/movetocorner
	url = https://github.com/SofianeHamlaoui/movetocorner
[submodule ".local/opt/oh-my-zsh"]
	path = .local/opt/oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule ".local/opt/Linux-Fake-Background-Webcam"]
	path = .local/opt/Linux-Fake-Background-Webcam
	url = https://github.com/fangfufu/Linux-Fake-Background-Webcam.git
