# gitignore-shared
# Blacklist files/folders in same directory as the .gitignore file
*

## Whitelist

# Git
!.gitignore

# ~
!.zshrc
!.zprofile
!.config/
!.local/

# .config/
!.config/sway/
!.config/sway/config
!.config/waybar/
!.config/waybar/colors.css
!.config/waybar/config.jsonc
!.config/waybar/style.css
!.config/swaylock/
!.config/swaylock/config
!.config/mako/
!.config/mako/config
!.config/foot/
!.config/foot/foot.ini
!.config/rofi/
!.config/rofi/config.rasi
!.config/avizo/
!.config/avizo/config.ini
!.config/chromium-flags.conf
!.config/code-flags.conf
!.config/gtk-3.0/
!.config/gtk-3.0/settings.ini
!.config/swappy/
!.config/swappy/config
!.config/user-dirs.dirs
!.config/user-dirs.locale

# .config/systemd/
!.config/systemd/
!.config/systemd/user/
!.config/systemd/user/sway-session.target
!.config/systemd/user/nm-applet.service
!.config/systemd/user/nextcloud-applet.service
!.config/systemd/user/default.target.wants/
!.config/systemd/user/default.target.wants/xdg-user-dirs-update.service
!.config/systemd/user/default.target.wants/pipewire.service
!.config/systemd/user/default.target.wants/pipewire-pulse.service
!.config/systemd/user/default.target.wants/mpris-proxy.service
!.config/systemd/user/default.target.wants/mpd.service
!.config/systemd/user/default.target.wants/darkman.service

# .local/lib/
!.local/lib/
!.local/lib/waybar/
!.local/lib/waybar/btrfs-status.sh
!.local/lib/waybar/darkman-status.sh
!.local/lib/waybar/wttrbar-wrapper.sh
!.local/lib/sway/
!.local/lib/sway/show-rofi.sh
!.local/lib/sway/displays-configuration.sh
!.local/lib/sway/slurp-sway-win.sh
!.local/lib/sway/sway-idle.sh
!.local/lib/sway/sway-lock-utils.sh
!.local/lib/systemd/
!.local/lib/systemd/nextcloud-client-startup.sh

# .local/bin/
!.local/bin/
!.local/bin/swm
