[Desktop Entry]
Version=1.0
Name=Test
Comment=Launches a window with fakecam output
Exec=ffplay /dev/video2
Icon=utilities-terminal
Terminal=false
Type=Application
Categories=Video;AudioVideo;Utility;
StartupWMClass=fakecam
